/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2018, 10:06:32 AM
    Author     : Dingo
*/

       	table, table tbody, table thead {
            width:100%;
            color:#000000;
            border: 1px solid #120B06;
            padding:2px;
            background-color:#6D5A4A;
            box-shadow: 7px 7px #333333;
            border-collapse: collapse;
            table-layout:fixed;
        }

        td, th{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        tr{
            width:100%;
        }
        
        td:first-child {
            padding-left:7px;
        }
        
    th{border-bottom: 1px solid black;}
	input.number {width:40px;}
	.data {width:150px; border: 1px solid black;}
	.newBuild {color:#111111; border: 1px solid #120B06; border-collapse:collapse; padding:2px; background-color:#6D5A4A;}
	.alreadyBuilt {color:#111111; border: 1px solid #120B06; border-collapse:collapse; padding:2px; background-color:#6D5A4A;}
	.buildingHelp {cursor:help; overflow:auto;}
	style1 {font-size:0.8em;}
	.head {border: 1px solid black;}
	.shield {float: right; display: block;}
    .buttonCell {text-align: right; padding-right: 5px;}
    small {color: #181818;}
	.buildingName
	{
		float: left;
		display: block;
	}
        .apInput
        {
            width: 40px;
            border-radius: 7px;
            margin-right: 8px;
            margin-left: 8px;
        }
.pointer{
    cursor: pointer;
}        

.pointerWhite{
    background: rgba(255, 255, 255, 0.15);
}

.pointerGreen{
    background: rgba(55, 219, 55, 0.15);
}

.pointerRed{
    background: rgba(255, 89, 153, 0.15);
}

.pointerBlue{
    background: rgba(55, 132, 219, 0.15);
    border: 1px solid black;
}

#apAssigned{
    /* float:right; */
}

.individualCost{
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    background-color: #6d5846;
}

        .buttonSpan{
            /* float:right; */
            margin-top: -8px;
        }

    .buildButton {
    display: inline-block;
    /* float: right; */
    border-radius: 4px;
    background-color: #54483E;
    border: none;
    color: #A39D8D;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 3px 2px black;
    }

    .buildButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }

    .buildButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }

    .buildButton:hover
    {
    background-color: #47372A;
    transition: 0s;
    }

    .buildButton:hover span {
    padding-right: 25px; 
    }

    .buildButton:hover span:after {
    opacity: 1;
    right: 0;
    }

    .buildButton:active
    {
    box-shadow: none;
    }


    .infoBlock{
        display: inline-block;
        width: 85%;
        min-height: 200px;
        background-color: #A5907E;
        border: 2px solid #000000;
        padding: 15px;
        margin: 25px auto;
        margin-left: 5%;
        color: black;
        box-shadow: 7px 7px #333333;
    }

    .buildingImage{
        width: 64px;
        border: 2px solid #000000;
        box-shadow: 4px 4px #333333;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
    }