.townList{
    width:85%;
    margin: auto;
    color:#000000;
    border: 1px solid #120B06;
    padding:2px;
    background-color:#6D5A4A;
    box-shadow: 7px 7px #333333;
    border-collapse: collapse;
}

.townList td:last-child{
    padding-top:5px;
}
thead th{
    text-align:left;
    border-bottom:  1px solid black;
}

.joinButton {
    display: inline-block;
    float: right;
    border-radius: 4px;
    background-color: #54483E;
    border: none;
    color: #A39D8D;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 3px 2px black;
}

.joinButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.joinButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.joinButton:hover
{
    background-color: #47372A;
    transition: 0s;
}

.joinButton:hover span {
    padding-right: 25px; 
}

.joinButton:hover span:after {
    opacity: 1;
    right: 0;
}

.joinButton:active
{
    box-shadow: none;
}

.multiJoin{
    width: 80%;
    margin: 10px auto;
    padding: 3px 7px;
    background-color: #6D5A4A;
    border: 1px solid black;
    box-shadow: 7px 7px #333333;
}

input[type=text], select{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solic #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 1px darkslategrey;
}

input[type=submit]{
    width: 99%;
    background-color: #54483E;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 2px black;
}

input[type=submit]:hover{
    background-color: #47372A;
}

#create {
    text-align: center;
}