/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2018, 11:17:45 PM
    Author     : Dingo
*/

.testBox *{
	margin: auto;
}
        .lootButton {
        display: inline-block;
        border-radius: 4px;
        background-color: #54483E;
        border: none;
        color: #A39D8D;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        width: 125px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        box-shadow: 3px 2px black;
        }

        .lootButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        }

        .lootButton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        }
        
        .lootButton:hover
        {
        background-color: #47372A;
        transition: 0s;
        }

        .lootButton:hover span {
        padding-right: 25px; 
        }

        .lootButton:hover span:after {
        opacity: 1;
        right: 0;
        }
        
        .lootButton:active
        {
        box-shadow: none;
        }
        
        .lightRow
        {
            background-color: #91755D;
        }
        
        th{border-bottom:1px solid black; border-top:1px solid black; background-color:#6d5846;}
	#comma{width:5%;}
	#zedCount {width: 50%;text-align: left; padding-left: 5px; padding-top: 2px;}
	#xco {width: 22.5%;text-align: right;}
        #yco {width: 22.5%;text-align: left;}
        #remoteXco {width: 22.5%;text-align: right;}
	#remoteYco {width: 22.5%;text-align: left;}
        #items{overflow-y: visible; border: 1px solid #000000; max-width:140px;}
        #itemsDiv {min-height: 100px; overflow-y: visible;}
	.data {border-bottom:1px solid black; background-color:#6d5846;}
        .data2 {border-bottom:1px solid black;}
        .data3 {border-bottom:1px solid black;}
	/* #leftArrow {position: relative; top: 10px; left: 110px;}
	#rightArrow {position: relative; top: 10px; left: 231px;}
	#upArrow {position: relative; top: -181px; left: 189px;}
	#downArrow {position: relative; top: 121px; left: 149px;} */
	.Arrow:hover {filter:brightness(0.8);}
        .bulletin {border: 1px solid black; width: 100%; height: 200px; padding: 5px; margin: 0px; overflow-y: auto; background-color:#6D5A4A; box-shadow: 7px 7px #333333; height: 20px;}
	.bulletinHead {text-align: center; border: 1px solid black; height: 15px; padding: 5px; width: 95%; margin-top: 5px; overflow: hidden;}
        .bulletinDiv{
                max-height: 200px; 
                width: 75%;
                min-width: 300px;
                position: relative; 
                top: 8px; 
                overflow-y: auto; 
                box-shadow: 5px 5px #333333}
	.topBulletin {text-align: center; margin: 0px; padding: 0px; width: inherit;}
        #lootWarning{color: red; font-weight: bold;}
        #lootButton{margin: auto; text-align: center;}
        #lootForm{text-align: center;}
        #lootCell{text-align: center;}
        .centralBox{height: 600px;}

        .mapCanvas{
                display: block;
                margin: auto;
                width: 176px;
        }

        .mapCanvasCollect{
                width:95%;
        }

        .map{
                box-shadow: 7px 7px #333333; 
                /* position: relative; 
                left: 15px; 
                top: 75px; */
        }

        .fillerBox{ 
                width: 100%;
                min-width: 170px;
                background-color:#6D5A4A; 
                box-shadow: 7px 7px #333333; 
                margin-left: 5px;
                margin-right: 20%;
                margin-top: 25px;
                overflow-y: visible;
                display: flow-root;
        }
        .fillerBox *{
                margin:auto;
                text-align: center;
                padding-top: 4px;
                padding-bottom: 4px;
        }

	.selected {border: 1px solid black;}
        .notSelected {border: 0px solid red;}
        
        .remoteInfo{
        float: right;
        border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	height: 125px;
	overflow-x: auto;
	overflow-y: scroll;
        background-color:#6D5A4A;
        clear: right;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptexta {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    border: 1px solid black;
}

.popuptexta :nth-child(n+2){
        margin-top: 15px;
}

/* Popup arrow */
.popup .popuptexta::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.act_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.act_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.act_button:active {
	position:relative;
	top:1px;
}

.test{
        /* border: 1px solid black; */
}
.test1{
        width: 35%;
        min-width: 248px;
        display: inline-block;
        margin: auto;
        position: relative;
        left: -16px;
}
.test2{
        width:30%;
        min-width: 150px;
        display: inline-block;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        left: -16px;
}
.test3{
        width:25%;
        min-width: 150px;
        text-align: center;
        display: inline-block;
        margin: auto;
        position: relative;
        left: -16px;
}
.test4{
        width:100%;
        display: inline-block;
        margin: auto;
}

.testBox
{
	display: inline-block;
	width: 85%;
	background-color: #A5907E;
	border: 2px solid #000000;
	padding: 15px;
	margin: 25px auto;
	margin-left: 5%;
	color: black;
        box-shadow: 7px 7px #333333;
        
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
}


.test1 table{
        width: 100%;
        text-align:center;
}

.zoneInfo
{
	border: 1px solid black;
	border-collapse: collapse;
        width: 150px;
        width: 100%;
	height: 125px;
	margin: 10px;
	overflow-x: auto;
	overflow-y: scroll;
	background-color:#6D5A4A;
	box-shadow: 7px 7px #333333;

}