body
{
	/*background-image: url("images/Back.png");*/
	background-image:url('../images/back.png');
    background-repeat:repeat;
    background-size:100% 100%
	/*background-color:#2B2017;*/
}
.container 
{
	width: 95%;
	min-width: 400px;
	min-height: 100%;
	overflow: auto;
    display: table;
	margin: auto;
	text-align: left;
	color: black;
	border: 1px solid #888999;
	background-color: #786452;
	padding: 20px;
	font-family:Verdana, Geneva, sans-serif;

}

.header
{
	width: 80%;
	max-width: 600px;
	margin: auto;
	text-align: center;
	border: 2px solid #000000;
	background-color: #443525;
	color: #FFFFFF;
	box-shadow: 7px 7px #333333;
}

.header img{
	width: 100%;
}

.bottomBar
{
	color: #FFFFFF;
	text-decoration: none;
}

.bottomBar a:hover
{
	color: #333333;
}

.bottomBar a:visited
{
	color: #FFFFFF;
}

body
{
	min-height: 880px;
	font-family: 'Arimo', sans-serif;
	font-size: 100%;
	/*background: #7abeef; /* Old browsers */
	/*background: -moz-linear-gradient(45deg,  #7abeef 0%, #86c3ef 17%, #f7d576 46%, #f7d576 46%, #f9d05e 56%, #69b5ef 92%, #71b9ed 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7abeef), color-stop(17%,#86c3ef), color-stop(46%,#f7d576), color-stop(46%,#f7d576), color-stop(56%,#f9d05e), color-stop(92%,#69b5ef), color-stop(100%,#71b9ed)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* IE10+ */
	/*background: linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abeef', endColorstr='#71b9ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.taskBox{
	min-width: 75px;
	max-width: 700px;
    width: 90%;
    background-color: #A5907E;
    border: 2px solid #000000;
    padding: 4px;
    margin: 25px auto;
	box-shadow: 7px 7px #333333;
	box-sizing: initial;
	
	display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.taskBox div img{
    display: inline-block;
	padding: auto;
    margin: 10px auto;
    box-shadow: 5px 5px #333333;
}

.taskBox div{
	min-width: 38px;
	max-width: 330px;
    width: 95%;
    background-color: #A5907E;
	margin: 2px auto;
	padding: 0 10px;
	
	display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.centralBox
{
	display: inline-block;
	width: 95%;
	background-color: #A5907E;
	border: 2px solid #000000;
	padding: 15px;
	margin: 25px auto;
	margin-left: 1.5%;
	color: black;
	box-shadow: 7px 7px #333333;
}

.centralBox *{
	margin: auto;
}

.centralBoxTop
{
	border-bottom:1px solid black;
}

.spoiler
{
	width:95%;
	background-color:#121212;
	border: 0px solid #000000;
	margin-top:5px;
	padding-left: 0px;
}

.spoiler2
{
	width:95%;
	background-color:#131313;
	border: 1px solid #000000;
	margin-top:5px;
	padding-left: 10px;
}

.xpBar
{
	float:left;
	background-color:blue;
	height:20px;
}

.remainXpBar
{
	float:right;
	background-color:red;
	height:20px;
}

.infoSet
{
	/* float: left; */
	margin: 0 auto;
	margin-top: 15px;
	width: 100%;
	height: auto;
}

.infoSet1
{
	margin-left: 0;
	margin-right: -6px;
	height: 50px;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
	background-color:#6d5846;
	color:#000000;
	box-shadow:7px 7px #333333;
	text-align: center;
	display: inline-block;
}

.infoSet2
{
	margin-left: 0;
	margin-right: -6px;
	height: 50px;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
	background-color:#6d5846;
	color:#000000;
	box-shadow:7px 7px #333333;
	text-align: center;
	display: inline-block;
}

.infoSet3
{
	margin-left: 0;
	margin-right: -6px;
	height: 85px;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
	background-color:#6d5846;
	color:#000000;
	box-shadow:7px 7px #333333;
	text-align: center;
	display: inline-block;
}

.headerTop{
	width: auto;
	margin: 0 auto;
	text-align: center;
	/* float: left; */
}

.headerBottom{
	width: auto;
	margin: 0 auto;
	text-align: center;
	/* float: left; */
}

.itemInfo
{
	float: right;
	border: 1px solid black;
	border-collapse: collapse;
	width: 150px;
	height: 200px;
	margin: 10px;
        background-color:#6D5A4A;
        box-shadow: 7px 7px #333333;
        clear: both;
        position: relative;
        top: 80px;
}

.currentInfo
{
	float: left;
	border: 1px solid black;
	border-collapse: collapse;
	width: 150px;
	height: 125px;
	margin: 10px;
}

.warehouseItemsForm
{
	display: inline-block;
	margin-right: 7px;
}

yellow{
	color: #D4AF37;
	text-shadow: 1px 1px #131313;
}

gray{
	color: rgb(60, 60, 60);
}

red{
	color: #C33333;
	text-shadow: 1px 1px #131313;
}

green{
	color: #336633;
}

litegreen{
	color: #3DAF3D;
}

blue{
	color: rgb(20,75,240);
}

.storageCategory{
	border: 1px solid black;
	padding: 5px;
}

.skillsBox{
	display: flex;
    /* flex-wrap: wrap; */
	justify-content: space-between;
	width: 100%;
}

.skillsUnlocked{
	width: 30%;
	min-width: 100px;
	/* border: 1px solid black; */
	margin-top: 25px;
	max-height: 400px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	overflow: auto;
}

.skillsSelected{
	width: 30%;
	min-width:100px;
	border: 1px solid black;
	margin-top: 25px;
	max-height: 400px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	overflow: auto;
}

.middleSkills{
	width: 40%;
	min-width:113px;
	border: 1px solid black;
	margin-top: 25px;
	padding: 10px;
	text-align: center;
	background-color: rgb(145, 142, 140);
	max-height: 400px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	overflow: auto;
}

	table.cinereousTable {
	border: 6px solid #5a5a5a;
	background-color: rgb(145, 142, 140);
	width: 100%;
	text-align: center;
  }
  table.cinereousTable td, table.cinereousTable th {
	border: 1px solid #5a5a5a;
	padding: 4px 4px;
  }
  table.cinereousTable tbody td {
	font-size: 13px;
  }
  table.cinereousTable tr:nth-child(even) {
	background: #948473;
  }
  table.cinereousTable thead {
	background: #948473;
	background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  table.cinereousTable thead th {
	font-size: 17px;
	font-weight: bold;
	color: rgb(39, 39, 39);
	text-align: center;
	border-left: 2px solid #5a5a5a;
  }
  table.cinereousTable thead th:first-child {
	border-left: none;
  }
  
  table.cinereousTable tfoot {
	font-size: 16px;
	font-weight: bold;
	color: #F0F0F0;
	background: #948473;
	background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
	background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  table.cinereousTable tfoot td {
	font-size: 16px;
  }

.pointer{
	cursor: pointer;
}        

.pointerWhite{
	background: rgba(255, 255, 255, 0.15);
}

.pointerGreen{
	background: rgba(55, 219, 55, 0.15);
}

.pointerRed{
	background: rgba(255, 89, 153, 0.15);
}

.pointerBlue{
	background: rgba(55, 132, 219, 0.15);
	border: 1px solid black;
}
.pointerBlack{
	background: rgba(0, 0, 0, 0.274);
	border: 1px solid black;
}

.skillDescription :nth-child(2){
	margin-top: 6px;
}

.skill_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
    margin-bottom: 4px;
}
.skill_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.skill_button:active {
	position:relative;
	top:1px;
}

.skill_button_remove {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #751A1A;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #891717), color-stop(1, #91372B));
	background:-moz-linear-gradient(top, #891717 5%, #91372B 100%);
	background:-webkit-linear-gradient(top, #891717 5%, #91372B 100%);
	background:-o-linear-gradient(top, #891717 5%, #91372B 100%);
	background:-ms-linear-gradient(top, #891717 5%, #91372B 100%);
	background:linear-gradient(to bottom, #891717 5%, #91372B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#891717', endColorstr='#91372B',GradientType=0);
	background-color:#891717;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #752C23;
	display:inline-block;
	cursor:pointer;
	color: #ecca78;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #6b5242;
    margin-bottom: 4px;
}
.skill_button_remove:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #91372B), color-stop(1, #891717));
	background:-moz-linear-gradient(top, #91372B 5%, #891717 100%);
	background:-webkit-linear-gradient(top, #91372B 5%, #891717 100%);
	background:-o-linear-gradient(top, #91372B 5%, #891717 100%);
	background:-ms-linear-gradient(top, #91372B 5%, #891717 100%);
	background:linear-gradient(to bottom, #91372B 5%, #891717 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#91372B', endColorstr='#891717',GradientType=0);
	background-color:#891717;
}
.skill_button_remove:active {
	position:relative;
	top:1px;
}

#skillDescription{
	margin-bottom: 10px;
}

.numberCircle{
	display: inline-block;
    border-radius: 50%;
    /* width: 10px;
	height: 10px; */
    padding: 3px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

	font: 10px Arial, sans-serif;
}

/* #xpBar{
	width: 100%;
	background-color: #f3f3f3;
	border: 0;
	height: 18px;
	border-radius: 9px;
}


#spBar{
	width: 100%;
	color: white;
	background-color: gray;
} */
#xpBar{
	-webkit-appearance: none;
	appearance: none;
	margin: 0;

	overflow: visible;
	width: 100%;
	background-color: lightgray;
	color: orange;
	border: 0;
	height: 22px;
	border-radius: 6px;
}
#xpBar::-webkit-progress-bar {
	border-radius: 9px;
	color:white;
	background-color: lightgray;
  }
  #xpBar::-webkit-progress-value {
	border-radius: 9px;
	background-color: lightskyblue;
  }
  #xpBar::-moz-progress-bar {
	border-radius: 9px;
	color:white;
  }
  #xpBar::-ms-fill{
	border-radius: 9px;
	border: none;
	color:lightskyblue;
}

#xpBar2{
	-webkit-appearance: none;
	appearance: none;
	margin: 0;

	width: 100%;
	background-color: lightgray;
	color: orange;
	border: 0;
	height: 22px;
	border-radius: 6px;
}
#xpBar2::-webkit-progress-bar {
	border-radius: 9px;
	color:white;
	background-color: lightgray;
  }
  #xpBar2::-webkit-progress-value {
	border-radius: 9px;
	background-color: lightskyblue;
  }
  #xpBar2::-moz-progress-bar {
	border-radius: 9px;
	color:white;
  }
  #xpBar2::-ms-fill{
	border-radius: 9px;
	border: none;
	color:lightskyblue;
}

#spBar{
	-webkit-appearance: none;
	appearance: none;
	margin: 0;

	width: 100%;
	background-color: lightgray;
	border: 0;
	height: 22px;
}
#spBar::-webkit-progress-bar {
	border-radius: 9px;
	color:white;
	background-color: lightgray;
  }
  #spBar::-webkit-progress-value {
	border-radius: 9px;
	background-color: #c6538c;
  }
  #spBar::-moz-progress-bar {
	border-radius: 9px;
	color:white;
  }
  #spBar::-ms-fill{
	border-radius: 9px;
	border: none;
	color:#c6538c;
}

#xpContainer{
	height: 22px;
}

.w3-container, .w3-panel {
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
	/* //width: 5px; */
	width: 6%;
	max-width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

