body
{
	background-image:url('images/back.png');
    background-repeat:no-repeat;
    background-size:100% 100%;
	min-height: 880px;
	font-family: 'Arimo', sans-serif;
	font-size: 100%;
}
.container 
{
	width: 1200px;
	overflow: auto;
	margin: auto;
	text-align: left;
	border: 1px solid #888999;
	background-color: #4E3F32;
	padding: 20px;
	font-family:Verdana, Geneva, sans-serif;
}

.header
{
	width: 736px;
	margin: auto;
	text-align: center;
	border: 2px solid #000000;
	background-color: #443525;
	color: #000000;
	
}

.bottomBar
{
	color: #FFFFFF;
	text-decoration: none;
}

.bottomBar a:hover
{
	color: #333333;
}

.bottomBar a:visited
{
	color: #FFFFFF;
}

body
{
	/*background: #7abeef; /* Old browsers */
	/*background: -moz-linear-gradient(45deg,  #7abeef 0%, #86c3ef 17%, #f7d576 46%, #f7d576 46%, #f9d05e 56%, #69b5ef 92%, #71b9ed 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7abeef), color-stop(17%,#86c3ef), color-stop(46%,#f7d576), color-stop(46%,#f7d576), color-stop(56%,#f9d05e), color-stop(92%,#69b5ef), color-stop(100%,#71b9ed)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* IE10+ */
	/*background: linear-gradient(45deg,  #7abeef 0%,#86c3ef 17%,#f7d576 46%,#f7d576 46%,#f9d05e 56%,#69b5ef 92%,#71b9ed 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abeef', endColorstr='#71b9ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.caption
{
	color: black;
	font-size: 85%;
	height: 80px;
}

.news
{
	font-size: 75%;
	width:60%;
	height: 360px;
	margin: 80px auto;
	float: left;
	color: black;
	background-color: #CEA37E;
	overflow: auto;
	border: 2px solid black;
	padding-right: 2%;
}

/*
{
	float:left;
	margin-right: 400px;
	padding-right: 400px;
}*/


.login
{
	padding-top: 20px;
	width: 30%;
	margin: 80px auto;
	background-color: #CEA37E;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
	text-align: center;
	float: right;
	border:2px solid black;
}

.login-top
{
	border-top: 1px solid black;
	padding: 10px;
	margin-top: 20px;
}

.login-top input[type="text"],.login-top input[type="password"]
{
	margin: 5px 0px 5px;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #252525;
	border: 1px solid #000000;
	padding: 10px;
}

.login-top input[type="submit"] 
{
	color: #000000;
	font-size: 15px;
	font-weight: 600;
	padding: 12px 19px;
	width: 100%;
	margin: 25px 0px 5px 0px;
	border: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
	background-color: #FFFFFF; 
}

.login-top input[type="submit"]:hover
{
	color: #FFFFFF;
	background-color: #454545;
}

.createBlock
{
	padding: 10px;
	width: 90%;
	float: left;
	margin-left: 30px;
	background-color: #CEA37E;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
	text-align: center;
	border:2px solid black;
}

.browseBlock
{
	padding-top: 20px;
	width: 45%;
	height: 360px;
	margin: 25px auto;
	margin-left: 30px;
	float: left;
	color: black;
	background-color: #CEA37E;
	overflow: auto;
	border: 2px solid #000000;
}

.browseBlock2
{
	padding-top:20px;
	width:75%;
	height: 360px;
	margin: 25px auto;
	float: left;
	color: black;
	background-color: #CEA37E;
	overflow: auto;
	border: 2px solid #000000;
}.browseBlock3
{
	padding-top:20px;
	width:75%;
	height: 360px;		max-height: 800px;
	margin: 25px auto;
	float: left;
	color: black;
	background-color: #CEA37E;
	overflow: auto;
	border: 2px solid #000000;
}

.infoBlock
{
	display: block;
	text-align: center;
	padding-top: 30px;
	padding-left: 0px;
	margin-left: 20px;
	margin-top: 25px;
	margin-right: 30px;
	width: 40%;
	height: 200px;
	color: black;
	float:right;
	background-color: #CEA37E;
	border: 2px solid #000000;
}

.infoBlock table
{
	padding-left: 10%;
}

.hand
{
	cursor: pointer;
}

.forgot,.forgot a:visited
{
	float: right;
	font-style: italic;
	font-size: 10px;
	color: #000000;
}

.login-bottom
{
	border-top: 1px solid #000000;
	padding: 10px;
	margin-top: 5px;
}

.login-bottom input[type="submit"]
{
	color: #000000;
	font-size: 15px;
	font-weight: 600;
	padding: 12px 19px;
	width: 100%;
	margin: auto;
	border: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
	background-color: #FFFFFF; 
}

.login-bottom input[type="submit"]:hover
{
	color: #FFFFFF;
	background-color: #454545;
}

.resource
{
	border: 1px solid #999999;
	float: right;
	padding: 5px;
	display: inline-table;
}

td.a
{
	padding: 0px 10px; 
}

td.b
{
	float: right;
	padding: 0px 0px;
}

td.c
{
	padding: 0px 0px;
}

.buildings
{
	width: 90%;
}

td.build
{
	border: 1px solid #000000;
}

.spacer
{
	width: 45%;
	height: auto;
	float: left;
	color: black;
	/*margin: 20px auto;
	padding: 20px auto;*/
}

.spacer2
{
	width: 45%;
	height: auto;
	float: right;
	color: black;
	/*margin: 20px auto;*/
}

.infoBlock input[type="submit"]
{
	color: #000000;
	font-size: 15px;
	font-weight: 600;
	padding: 6px 6px;
	width: 80%;
	margin: 10px 0px 5px 0px;
	border: none;
	display: inline-block;
	outline: none;
	background-color: #FFFFFF; 
}

.infoBlock input[type="submit"]:hover
{
	color: #FFFFFF;
	background-color: #454545;
	cursor: pointer;
}


.infoBlock input[type="submit"][disabled]:hover
{
	background-color: #FFFFFF; 
	color: #000000;
	cursor: default;
}

